slides/slides.pdf
slides/slides-short.pdf
thesis/thesis.pdf
auto
thesis/auto
slides/auto
*.el
*~
*.rm
*.mp4
*.avi
thesis/*.aux 
thesis/*.log
thesis/*.toc 
thesis/*.ind 
thesis/*.inx 
thesis/*.gls
thesis/*.aux
thesis/*.glo 
thesis/*.ist 
thesis/*.idx 
thesis/*.ilg 
thesis/*.out 
thesis/*.bak 
thesis/*.bbl 
thesis/*.brf 
thesis/*.blg 
thesis/*.dvi
.#*
#*
*.ps 
*.thm
*.zip
Thesis.bib.bak
*.aux
*.log
*.toc
*.ind
*.inx
*.gls
*.aux
*.glo
*.ist
*.idx
*.ilg
*.out
*.bak
*.bbl
*.brf
*.blg
*.dvi